<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="b">开始</button>
<script  th:src="@{https://cdn.bootcss.com/sockjs-client/1.3.0/sockjs.min.js}"></script>
<script  th:src="@{/webstomp.min.js}"></script>
<script>
    var start =document.getElementById("b");
    // Stomp.over(new SockJS('/socket'),{binary:true});
    //webstomp.client('ws://localhost:8080/socket',{binary:true});
    var stompClient =  webstomp.over((new SockJS('/socket')));

    stompClient.connect({}, function () {
        console.log("stomp连接成功！")
    },function () {
        console.log("stomp连接失败！")
    });
    start.onclick = function () {
        // des body headers
        //stompClient.isBinary = false;
        var debug = {hello: "world"};
        var blob = new Blob([JSON.stringify(debug, null, 2)],
            {type : 'text/plain'});
        stompClient.send("/app/bytes", blob,{});
    }
</script>
</body>
</html>