<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seefly.bmybatis.mapper.PageMapper">

    <!--使用RowBounds-->
    <select id="getCountryByPage" resultType="org.seefly.bmybatis.model.Country">
        select *
        from country
    </select>
    <!--使用PageHelper.start-->
    <select id="CountryByPage" resultType="org.seefly.bmybatis.model.Country">
        select *
        from country
    </select>
</mapper>