<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.bootcss.com/jssip/3.1.2/jssip.js"></script>
<script>
    // Create our JsSIP instance and run it:

    var socket = new JsSIP.WebSocketInterface('wss://sip.myhost.com');
    var configuration = {
        sockets  : [ socket ],
        uri      : 'sip:alice@example.com',
        password : 'superpassword'
    };

    var ua = new JsSIP.UA(configuration);

    ua.start();

    // Register callbacks to desired call events
    var eventHandlers = {
        'progress': function(e) {
            console.log('call is in progress');
        },
        'failed': function(e) {
            console.log('call failed with cause: '+ e.data.cause);
        },
        'ended': function(e) {
            console.log('call ended with cause: '+ e.data.cause);
        },
        'confirmed': function(e) {
            console.log('call confirmed');
        }
    };

    var options = {
        'eventHandlers'    : eventHandlers,
        'mediaConstraints' : { 'audio': true, 'video': true }
    };

    var session = ua.call('sip:bob@example.com', options);
</script>
</body>
</html>