<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        这种配置方式是以前spring的配置组件的方式，但是在springboot中都是自动扫描了
        那么我们可以使用@ImportResource注解将这个配置文件引入，这个注解用来springboot
        的入口类上即可
    -->
    <bean id="helloService" class="org.seefly.quickstart.service.HelloService"/>

</beans>